In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

% matplotlib inline
% config InlineBackend.figure_format = 'retina'  # 设置图像清晰度

In [8]:
data = pd.read_csv("E:\Workspace\jupyter_notebook\\notebook_idata_lesson01\Aquastat\data\\aquastat.csv.gzip"
                   , compression="gzip")
print(data.shape)
data.head()

(143280, 7)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>region</th>
      <th>variable</th>
      <th>variable_full</th>
      <th>time_period</th>
      <th>year_measured</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1958-1962</td>
      <td>1962.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1963-1967</td>
      <td>1967.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1968-1972</td>
      <td>1972.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1973-1977</td>
      <td>1977.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1978-1982</td>
      <td>1982.0</td>
      <td>65286.0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143280 entries, 0 to 143279
Data columns (total 7 columns):
country          143280 non-null object
region           143280 non-null object
variable         143280 non-null object
variable_full    143280 non-null object
time_period      143280 non-null object
year_measured    96411 non-null float64
value            96411 non-null float64
dtypes: float64(2), object(5)
memory usage: 7.7+ MB

In [6]:
# variable含义
# total_area 国土面积（1000公顷）
# arable_land 可耕作面积
# permanent_crop_area 多年生作物面积
# cultivated_area 耕地面积
# percent_cultivated 耕地面积占比
# total_pop 总人口
# rural_pop 农村人口
# urban_pop 城市人口
# gdp 国内生产总值
# gdp_per_capita 人均国内生产总值
# agg_to_gdp 农业，增加国内生产总值
# human_dev_index 人类发展指数
# gender_inequal_index 性别不平等指数
# percent_undernourished 营养不良患病率
# avg_annual_rain_depth 长期平均年降水量
# national_rainfall_index 全国降雨指数

In [7]:
# variable去除重复值
data[["variable", "variable_full"]].drop_duplicates()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>variable</th>
      <th>variable_full</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
    </tr>
    <tr>
      <th>576</th>
      <td>arable_land</td>
      <td>Arable land area (1000 ha)</td>
    </tr>
    <tr>
      <th>1152</th>
      <td>permanent_crop_area</td>
      <td>Permanent crops area (1000 ha)</td>
    </tr>
    <tr>
      <th>1728</th>
      <td>cultivated_area</td>
      <td>Cultivated area (arable land + permanent crops...</td>
    </tr>
    <tr>
      <th>2304</th>
      <td>percent_cultivated</td>
      <td>% of total country area cultivated (%)</td>
    </tr>
    <tr>
      <th>2880</th>
      <td>total_pop</td>
      <td>Total population (1000 inhab)</td>
    </tr>
    <tr>
      <th>3456</th>
      <td>rural_pop</td>
      <td>Rural population (1000 inhab)</td>
    </tr>
    <tr>
      <th>4032</th>
      <td>urban_pop</td>
      <td>Urban population (1000 inhab)</td>
    </tr>
    <tr>
      <th>4608</th>
      <td>gdp</td>
      <td>Gross Domestic Product (GDP) (current US$)</td>
    </tr>
    <tr>
      <th>5184</th>
      <td>gdp_per_capita</td>
      <td>GDP per capita (current US$/inhab)</td>
    </tr>
    <tr>
      <th>5760</th>
      <td>agg_to_gdp</td>
      <td>Agriculture, value added to GDP (%)</td>
    </tr>
    <tr>
      <th>6336</th>
      <td>human_dev_index</td>
      <td>Human Development Index (HDI) [highest = 1] (-)</td>
    </tr>
    <tr>
      <th>6912</th>
      <td>gender_inequal_index</td>
      <td>Gender Inequality Index (GII) [equality = 0; i...</td>
    </tr>
    <tr>
      <th>7488</th>
      <td>percent_undernourished</td>
      <td>Prevalence of undernourishment (3-year average...</td>
    </tr>
    <tr>
      <th>8064</th>
      <td>number_undernourished</td>
      <td>Number of people undernourished (3-year averag...</td>
    </tr>
    <tr>
      <th>8640</th>
      <td>avg_annual_rain_depth</td>
      <td>Long-term average annual precipitation in dept...</td>
    </tr>
    <tr>
      <th>9216</th>
      <td>avg_annual_rain_vol</td>
      <td>Long-term average annual precipitation in volu...</td>
    </tr>
    <tr>
      <th>9792</th>
      <td>national_rainfall_index</td>
      <td>National Rainfall Index (NRI) (mm/year)</td>
    </tr>
    <tr>
      <th>10368</th>
      <td>surface_water_produced</td>
      <td>Surface water produced internally (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>10944</th>
      <td>groundwater_produced</td>
      <td>Groundwater produced internally (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>11520</th>
      <td>surface_groundwater_overlap</td>
      <td>Overlap between surface water and groundwater ...</td>
    </tr>
    <tr>
      <th>12096</th>
      <td>irwr</td>
      <td>Total internal renewable water resources (IRWR...</td>
    </tr>
    <tr>
      <th>12672</th>
      <td>irwr_per_capita</td>
      <td>Total internal renewable water resources per c...</td>
    </tr>
    <tr>
      <th>13248</th>
      <td>surface_entering</td>
      <td>Surface water: entering the country (total) (1...</td>
    </tr>
    <tr>
      <th>13824</th>
      <td>surface_inflow_submit_no_treaty</td>
      <td>Surface water: inflow not submitted to treatie...</td>
    </tr>
    <tr>
      <th>14400</th>
      <td>surface_inflow_submit_treaty</td>
      <td>Surface water: inflow submitted to treaties (1...</td>
    </tr>
    <tr>
      <th>14976</th>
      <td>surface_inflow_secure_treaty</td>
      <td>Surface water: inflow secured through treaties...</td>
    </tr>
    <tr>
      <th>15552</th>
      <td>total_flow_border_rivers</td>
      <td>Surface water: total flow of border rivers (10...</td>
    </tr>
    <tr>
      <th>16128</th>
      <td>accounted_flow_border_rivers</td>
      <td>Surface water: accounted flow of border rivers...</td>
    </tr>
    <tr>
      <th>16704</th>
      <td>accounted_flow</td>
      <td>Surface water: accounted inflow (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>17280</th>
      <td>surface_to_other_countries</td>
      <td>Surface water: leaving the country to other co...</td>
    </tr>
    <tr>
      <th>17856</th>
      <td>surface_outflow_submit_no_treaty</td>
      <td>Surface water: outflow to other countries not ...</td>
    </tr>
    <tr>
      <th>18432</th>
      <td>surface_outflow_submit_treaty</td>
      <td>Surface water: outflow to other countries subm...</td>
    </tr>
    <tr>
      <th>19008</th>
      <td>surface_outflow_secure_treaty</td>
      <td>Surface water: outflow to other countries secu...</td>
    </tr>
    <tr>
      <th>19584</th>
      <td>surface_total_external_renewable</td>
      <td>Surface water: total external renewable (10^9 ...</td>
    </tr>
    <tr>
      <th>20160</th>
      <td>groundwater_entering</td>
      <td>Groundwater: entering the country (total) (10^...</td>
    </tr>
    <tr>
      <th>20736</th>
      <td>groundwater_accounted_inflow</td>
      <td>Groundwater: accounted inflow (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>21312</th>
      <td>groundwater_to_other_countries</td>
      <td>Groundwater: leaving the country to other coun...</td>
    </tr>
    <tr>
      <th>21888</th>
      <td>groundwater_accounted_outflow</td>
      <td>Groundwater: accounted outflow to other countr...</td>
    </tr>
    <tr>
      <th>22464</th>
      <td>water_total_external_renewable</td>
      <td>Water resources: total external renewable (10^...</td>
    </tr>
    <tr>
      <th>23040</th>
      <td>total_renewable_surface</td>
      <td>Total renewable surface water (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>23616</th>
      <td>total_renewable_groundwater</td>
      <td>Total renewable groundwater (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>24192</th>
      <td>overlap_surface_groundwater</td>
      <td>Overlap: between surface water and groundwater...</td>
    </tr>
    <tr>
      <th>24768</th>
      <td>total_renewable</td>
      <td>Total renewable water resources (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>25344</th>
      <td>dependency_ratio</td>
      <td>Dependency ratio (%)</td>
    </tr>
    <tr>
      <th>25920</th>
      <td>total_renewable_per_capita</td>
      <td>Total renewable water resources per capita (m3...</td>
    </tr>
    <tr>
      <th>26496</th>
      <td>exploitable_regular_renewable_surface</td>
      <td>Exploitable: regular renewable surface water (...</td>
    </tr>
    <tr>
      <th>27072</th>
      <td>exploitable_irregular_renewable_surface</td>
      <td>Exploitable: irregular renewable surface water...</td>
    </tr>
    <tr>
      <th>27648</th>
      <td>exploitable_total_renewable_surface</td>
      <td>Exploitable: total renewable surface water (10...</td>
    </tr>
    <tr>
      <th>28224</th>
      <td>exploitable_regular_renewable_groundwater</td>
      <td>Exploitable: regular renewable groundwater (10...</td>
    </tr>
    <tr>
      <th>28800</th>
      <td>exploitable_total</td>
      <td>Total exploitable water resources (10^9 m3/year)</td>
    </tr>
    <tr>
      <th>29376</th>
      <td>interannual_variability</td>
      <td>Interannual variability (WRI) (-)</td>
    </tr>
    <tr>
      <th>29952</th>
      <td>seasonal_variability</td>
      <td>Seasonal variability (WRI) (-)</td>
    </tr>
    <tr>
      <th>30528</th>
      <td>total_dam_capacity</td>
      <td>Total dam capacity (km3)</td>
    </tr>
    <tr>
      <th>31104</th>
      <td>dam_capacity_per_capita</td>
      <td>Dam capacity per capita (m3/inhab)</td>
    </tr>
    <tr>
      <th>31680</th>
      <td>irrigation_potential</td>
      <td>Irrigation potential (1000 ha)</td>
    </tr>
    <tr>
      <th>32256</th>
      <td>flood_occurence</td>
      <td>Flood occurrence (WRI) (-)</td>
    </tr>
    <tr>
      <th>32832</th>
      <td>total_pop_access_drinking</td>
      <td>Total population with access to safe drinking-...</td>
    </tr>
    <tr>
      <th>33408</th>
      <td>rural_pop_access_drinking</td>
      <td>Rural population with access to safe drinking-...</td>
    </tr>
    <tr>
      <th>33984</th>
      <td>urban_pop_access_drinking</td>
      <td>Urban population with access to safe drinking-...</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
# country
print(data["country"].nunique())
countries = data["country"].unique()
print(countries)

199
['Afghanistan' 'Armenia' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Bhutan'
 'Brunei Darussalam' 'Cambodia' 'China'
 "Democratic People's Republic of Korea" 'Georgia' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Israel' 'Japan' 'Jordan'
 'Kazakhstan' 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic"
 'Lebanon' 'Malaysia' 'Maldives' 'Mongolia' 'Myanmar' 'Nepal'
 'Occupied Palestinian Territory' 'Oman' 'Pakistan' 'Papua New Guinea'
 'Philippines' 'Qatar' 'Republic of Korea' 'Saudi Arabia' 'Singapore'
 'Sri Lanka' 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste'
 'Turkey' 'Turkmenistan' 'United Arab Emirates' 'Uzbekistan' 'Viet Nam'
 'Yemen' 'Belize' 'Costa Rica' 'El Salvador' 'Guatemala' 'Honduras'
 'Nicaragua' 'Panama' 'Cuba' 'Dominican Republic' 'Haiti' 'Jamaica'
 'Antigua and Barbuda' 'Bahamas' 'Barbados' 'Dominica' 'Grenada'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Trinidad and Tobago' 'Canada' 'United States of America' 'Mexico'
 'Guyana' 'Suriname' 'Bolivia (Plurinational State of)' 'Colombia'
 'Ecuador' 'Peru' 'Venezuela (Bolivarian Republic of)' 'Brazil'
 'Argentina' 'Chile' 'Paraguay' 'Uruguay' 'Algeria' 'Angola' 'Benin'
 'Botswana' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cameroon'
 'Central African Republic' 'Chad' 'Comoros' 'Congo' "Côte d'Ivoire"
 'Democratic Republic of the Congo' 'Djibouti' 'Egypt' 'Equatorial Guinea'
 'Eritrea' 'Ethiopia' 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau'
 'Kenya' 'Lesotho' 'Liberia' 'Libya' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Morocco' 'Mozambique' 'Namibia' 'Niger'
 'Nigeria' 'Rwanda' 'Sao Tome and Principe' 'Senegal' 'Seychelles'
 'Sierra Leone' 'Somalia' 'South Africa' 'South Sudan' 'Sudan' 'Swaziland'
 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania' 'Zambia'
 'Zimbabwe' 'Albania' 'Andorra' 'Austria' 'Belarus' 'Belgium'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Cyprus' 'Czechia'
 'Denmark' 'Estonia' 'Faroe Islands' 'Finland' 'France' 'Germany' 'Greece'
 'Holy See' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Latvia' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Malta' 'Monaco' 'Montenegro' 'Netherlands'
 'Norway' 'Poland' 'Portugal' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'San Marino' 'Serbia' 'Slovakia' 'Slovenia' 'Spain'
 'Sweden' 'Switzerland' 'The former Yugoslav Republic of Macedonia'
 'Ukraine' 'United Kingdom' 'Australia' 'Cook Islands' 'Fiji' 'Kiribati'
 'Marshall Islands' 'Micronesia (Federated States of)' 'Nauru'
 'New Zealand' 'Niue' 'Palau' 'Samoa' 'Solomon Islands' 'Tokelau' 'Tonga'
 'Tuvalu' 'Vanuatu']

In [15]:
# time_period
print(data["time_period"].nunique())
print(data["time_period"].unique())

12
['1958-1962' '1963-1967' '1968-1972' '1973-1977' '1978-1982' '1983-1987'
 '1988-1992' '1993-1997' '1998-2002' '2003-2007' '2008-2012' '2013-2017']

In [ ]:
data[data["variable"] == "total_area"].value.isnull().sum()

range(1960, 2017, 5)